<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django-Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\virtualenvs\django_iis\Scripts\python.exe|C:\virtualenvs\django_iis\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
<appSettings>
        <!-- Required Settings -->
        <add key="WSGI_HANDLER" value="soporte.wsgi.application" />
        <add key="WSGI_LOG" value="C:\Apps\soporte\\my_app.log" />

        <add key="PYTHONPATH" value="C:\Apps\soporte\" />

        <!-- Optional settings -->
        <add key="DJANGO_SETTINGS_MODULE" value="soporte.settings" />

    </appSettings>
</configuration>
