{% extends 'base/base.html' %}

{% block extracss %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
{% endblock %}

{% block title%}
Gráficos Encuestas VN
{% endblock%}

{% block button1%}
<button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'encuesta_index' %}'">
    <i class="far fa-arrow-alt-circle-left"></i>Volver
</button>
{% endblock%}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %} 
<canvas id="myChart" width="400" height="100"></canvas> 
{% endblock %}

{% block extrajs %} 
<script>
    function getRandom(min,max){
        return Math.trunc(Math.random() * (max - min) + min);
    }
    function getRGB(){
        r = getRandom(0,256);
        g = getRandom(0,256);
        b = getRandom(0,256);
        return 'rgba(' + r + ', ' + g + ', ' + b + ', 0.2)'
    }
    
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: '{{chartjs}}',
        data: {
            labels: [{% for row in rows %}'{{row.1}}',{%endfor%}], //loop through queryset, 
            datasets: [{
                label: 'Encuestas Periodo: {{period}}',
                data: [{%for row in rows %}{{row.0}},{%endfor%}],
                backgroundColor: [
                    {% for row in rows %}
                    getRGB(),
                    {% endfor %}
                ],
                borderColor: [
                    {% for row in rows %}
                    getRGB(), 
                    {% endfor %}
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
        
</script>
{% endblock %}