{% extends 'base/base.html' %}

{% block extracss %}     
{% endblock %}

{% block title%}
Bienvenido al Dashboard de Soporte
{% endblock%}

{% block buttons%}
{% endblock%}

{% block scripts %}
{% endblock %}

{% block content %} 
<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card bg-primary text-white mb-3">
            <div class="card-header">Nuevos Servicios o Mejoras</div>
            <div class="card-body">
                <ul class="list-group  list-group-flush">
                    <li class="list-group-item bg-primary text-white">* Administrar (Usuario: Administrador)</li>
                    <li class="list-group-item bg-primary text-white">* Cambiar Clave (Usuario: todos)</li>
                    <li class="list-group-item bg-primary text-white">* Encuestas (Usuario: Final, Soporte)
                        <ul class="list-group  list-group-flush">
                            <li class="list-group-item bg-primary small text-whitebg-primary text-white">- Buscar VIN</li>
                            <li class="list-group-item bg-primary small text-whitebg-primary text-white">- Reporte Semanal</li>
                        </ul>
                    </li>
                    <li class="list-group-item bg-primary text-whitebg-primary text-white">* Usuarios (Usuario: Soporte)
                        <ul class="list-group  list-group-flush">
                            <li class="list-group-item bg-primary small text-whitebg-primary text-white">- Listar</li>
                            <li class="list-group-item bg-primary small text-whitebg-primary text-white">- Registrar</li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div> 
    <div class="col-xl-4 col-md-6">
        <div class="card bg-warning text-white mb-3">
            <div class="card-header">Servicios No Disponibles</div>
            <div class="card-body">
                <ul class="list-group  list-group-flush">
                    <li class="list-group-item bg-warning text-white">* Recuperar Clave (Usuario: Todos)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-header">Servicios</div>
            <div class="card-body">
                
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link">Detalles</a>
                <ul class="list-group  list-group-flush">
                    <li class="list-group-item bg-success small text-white">Versión: 1.0</li>
                    <li class="list-group-item bg-success small text-white">Fecha: 20 de Abril de 2022</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %} 
{% endblock %}