{% extends 'base/base.html' %}

{% load static %}

{% block extracss %} 
{% endblock %}

{% block title%}
Cambiar Clave
{% endblock%}

{% block button1%}
<button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'index' %}'">
    <i class="far fa-arrow-alt-circle-left"></i>Volver
</button>
{% endblock%}

{% block scripts %}
<script src="{% static 'js/sweetalert2.all.min.js' %}"></script>
{% endblock %}

{% block content %} 
<form action="" method="post">
    {% csrf_token %}
    <form id="frmLogin" action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_old_password" class="form-label">Contraseña antigua:</label> 
            <input type="password" name="old_password"  autofocus="" required="" id="id_old_password" class="form-control" autocomplete="off" autofocus>           
        </div>
        <div class="mb-3">
            <label for="id_new_password1" class="form-label">Contraseña nueva:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" class="form-control" minlength="8" autocomplete="nope">
        </div>
        <div class="mb-3">
            <label for="id_new_password2" class="form-label">Contraseña nueva (confirmación):</label>
            <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" class="form-control" minlength="8" autocomplete="nope">
        </div>
        <div class="form-group mt-3">
            <input type="submit" value="Guardar Cambios" class="btn btn-success float-end text-white w-100" name="login-btn">
        </div>
    </form>
</form>
{% endblock %}

{% block extrajs %}
<script>
    {% if form.errors %}
        var errors = '';
        {% for field in form %}
            {% for error in field.errors %}
                errors += '{{field.label}}: {{ error }} <br>';
            {% endfor %}
        {% endfor %}
        if(errors === ''){
            {% for error in form.non_field_errors %}
                errors += '{{ error }}';
            {% endfor %}
        };
        Swal.fire({
            icon: 'error',
            title: 'Alerta',
            html: errors,
            {% comment %} footer: '<a href="#">Why do I have this issue?</a>' {% endcomment %}
        })
    {% endif %}
</script> 
{% endblock %}